header{
    /*padding: 1em;*/
    color: white;
    background-color: red;
   clear: left;
    text-align: center;
}
.container {
    width: 100%;
	height:100%;
    border: 1px solid gray;
}
#imagenlinks{
padding:10px;
float:left;
width:200px;
/*border : 5px blue solid; */
}
#imgdiv{
/*background-color:red;*/
}
#image{
height:170px;
width:170px;
}
#links{
/*background-color:pink;*/
padding:10px;
/*border: 5px blue solid;*/
width:170px;
height:200px 
}
#maincontent   {
margin-left:205px;
}

body
{
background-image: url("background5.jpg");
background-size: 100% 100%;
font-family: sans-serif;
}
.color1
{
color:red;
font-weight:bold;
}
#tag
{
background-color:red;
margin-left: 500px;
width:50%;

}
a:link{
color:brown;
}
a:visited{
color:blue;
}
a:hover{
color:green;
}
a:active{

background-color:yellow;
}
table {
  border-collapse: collapse;
  width:100%;
}
th, td {
    text-align: left;
    padding: 10px;
}

tr:nth-child(odd) { 
background-color: #fce9e9;
}

